{% extends "layout.html" %}

{% block body %}
<section id="new">
<div class="container">
    <div class="flexrow">   
        <div>
            <br/>
            <h4>{{category}}</h4>
            <hr class="header-line">
        </div>
       
    </div>
    <div class="row">

        {% for category in subcategories %}
        
        <div class="col-md-4" >
                <div data-aos="fade-up" data-aos-delay="100">
                <div class="conversation">
                <!-- <img src="{{url_for("static",filename="img/nkrumah.png")}}" width="70px" height="70px" style="object-fit: cover; "> -->
                <div style="padding: 10px;">
                    <h6 style="margin-bottom: 0; align-items: center;"><b>{{category.title}}</b></h6>
                    <p class="text-muted" style="margin-bottom: 0;">{{category.parent}}</p>
                </div>
            </div>
        </div>
        </div>  

        {% endfor %}

    </div>

    </div>
</div>
</section>

{% endblock %}